@import url(https://fonts.googleapis.com/css?family=Great+Vibes:400);
@import url(https://fonts.googleapis.com/css?family=Raleway:400);
html {
    scroll-behavior: smooth;
    border: none;
}

body {
    background-image: repeating-linear-gradient(#000000, #070808, #27282c, #292c30);
    margin: 0;
    padding-bottom: 0;
}

#top_container {

    color: aliceblue;
    font-family: cursive;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
}

#middle_container {
    color: aliceblue;
    font-family: cursive;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0%;
}

#bottom_container {
    color: aliceblue;
    font-family: cursive;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0%;
}

h1 {
    padding-top: 30%;
    font-size: 60px;
    margin: 0pX;
}

.p1 {
    font-size: x-large;
    margin-top: 0%;
}

.top_img {
    scale: 70%;
    position: absolute;
    left: 50%;
    bottom: 20%;
}

.top_img:hover {
    border: 3px solid #677a96;
    border-radius: 60%;
    transform: scale(1.05);
}

.button {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    position: absolute;
    top: 53%;
    left: 20%;
    background-image: linear-gradient(#EB5B67, #EB815B);
    font-size: large;
    font-family: cursive;
    border-radius: 12px;
}

.button:hover {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
    cursor: pointer;
    transform: scale(1.05);
}

.about {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline rgb(125, 125, 138);
    text-underline-offset: 8px;
}

.p_about {
    font-size: large;
}

.projects {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline rgb(125, 125, 138);
    text-underline-offset: 8px;
    margin-top: 0%;
}

.arcadelabs {
    font-family: monospace;
    text-decoration: underline rgb(125, 125, 138);
    text-underline-offset: 8px;
}

.arcadelabs_pfp {
    scale: 30%;
    position: relative;
    right: 285px;
    bottom: 180px;
}

.p_arcadelabs {
    position: relative;
    bottom: 530px;
    padding-left: 20%;
    padding-right: 20%;

}

.ar_discord {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    position: absolute;
    top: 110%;
    right: 800px;
    background-image: linear-gradient(#5b89eb, #5bc2eb);
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 12px;
    outline: none;
    transition: 1s ease-in-out;
}

.ar_git {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    position: absolute;
    top: 110%;
    right: 675px;
    background-image: linear-gradient(#5b89eb, #5bc2eb);
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 12px;
}

.ar_discord:hover {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 300ms;
    transition-delay: 100ms;
}

.ar_git:hover {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 300ms;
    transition-delay: 100ms;
}

#nav_bar {
    background-image: linear-gradient(#EB5B67, #EB815B);
    position: fixed;
    top:0;
    width: 100%;
    height: 6%;
    z-index: 11;
    border-bottom:2px solid #ffffff;
}

.h_nav {
    position: fixed;
    top: 1%;
    font-size: 38px;
    font-family: 'Great Vibes';
    color:white;
    z-index: 10;
    height: 6%;
    width: 30%;
    margin: 0;
}

.btn_home {
    color:rgb(255, 255, 255);
    font-family: 'Raleway';
    z-index: 11;
    font-size: 22px;
    position: fixed;
    top: 15px;
    right: 390px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.btn_about {
    color:rgb(255, 255, 255);
    font-family: 'Raleway';
    z-index: 11;
    font-size: 22px;
    position: fixed;
    top: 15px;
    right: 300px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.btn_projects {
    color:rgb(255, 255, 255);
    font-family: 'Raleway';
    z-index: 11;
    font-size: 22px;
    position: fixed;
    top: 15px;
    right: 190px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.btn_home:hover {
    transition-delay: 80ms;
    transition:ease-in-out;
    color:grey;
    scale: 1.05;
}

.btn_about:hover {
    transition-delay: 80ms;
    transition:ease-in-out;
    color:grey;
    scale: 1.05;
}

.btn_projects:hover {
    transition-delay: 80ms;
    transition:ease-in-out;
    color:grey;
    scale: 1.05;
}

::-webkit-scrollbar {
    width: 0%;
    border:none;
}